\input format.tex

%\usepackage{arydshln}
\usepackage{graphicx}
\graphicspath{{cores/}}

\begin{document}

%%%
\setlength{\arrayrulewidth}{0.5pt}
\fontsize{9.3pt}{17pt}\selectfont
\color{gray2}

%%%% protein
\vspace*{0mm}
\begin{center}
{\bf\sanhao 物质代谢~-~蛋白质的消化与吸收}
\end{center}


\medskip
\noindent
{\bf\xiaosihao [% name %][% IF sex == 'F' -%]女士[% ELSIF sex == 'M' -%]先生[% ELSE -%][% END -%]：}

\bigskip

蛋白质是组成人体细胞、组织的重要成分，是生命活动的主要承担者，没有蛋白质就没有生命。除了与结构和性状有关，蛋白质还参与基因表达的调节、各种生物化学反应、神经传递等生命过程。

[% IF xiaohuahexishou.protein.explain.abnormalN == 0 -%]
您肠道内参与蛋白质总量、谷胱甘肽代谢和牛磺酸代谢的菌群指标均处于正常水平，请您继续保持良好的饮食及生活习惯。
[% ELSE -%]
[% IF xiaohuahexishou.protein.explain.good == '-' AND xiaohuahexishou.protein.explain.bad == '-' -%]
[% ELSIF xiaohuahexishou.protein.explain.good == '-' -%]
您肠道内参与[% xiaohuahexishou.protein.explain.bad %]的菌群指标存在异常
[% IF xiaohuahexishou.protein.explain.badDisease == '-' AND xiaohuahexishou.protein.explain.badEffect == '-' -%]，不利于人体健康[% END -%]
[% IF xiaohuahexishou.protein.explain.badDisease != '-' -%]，可能增加[% xiaohuahexishou.protein.explain.badDisease %]的风险[% END -%]
[% IF xiaohuahexishou.protein.explain.badEffect != '-' -%]，不利于[% xiaohuahexishou.protein.explain.badEffect %][% END -%]
，需引起注意，建议持续监测肠道健康。
[% ELSIF xiaohuahexishou.protein.explain.bad == '-' -%]
您肠道内参与[% xiaohuahexishou.protein.explain.good %]的菌群指标优于参考人群
[% IF xiaohuahexishou.protein.explain.goodDisease == '-' AND xiaohuahexishou.protein.explain.goodEffect == '-' -%]，有益于人体健康[% END -%]
[% IF xiaohuahexishou.protein.explain.goodDisease != '-' -%]，可能降低[% xiaohuahexishou.protein.explain.goodDisease %]的风险[% END -%]
[% IF xiaohuahexishou.protein.explain.goodEffect != '-' -%]，有利于[% xiaohuahexishou.protein.explain.goodEffect %][% END -%]
。
[% ELSE -%]
您肠道内参与[% xiaohuahexishou.protein.explain.good %]的菌群指标优于参考人群[% IF xiaohuahexishou.protein.explain.badDisease == '-' AND xiaohuahexishou.protein.explain.badEffect == '-' -%]，有益于人体健康[% END -%][% IF xiaohuahexishou.protein.explain.goodDisease != '-' -%]，可能降低[% xiaohuahexishou.protein.explain.goodDisease %]的风险[% END -%][% IF xiaohuahexishou.protein.explain.goodEffect != '-' -%]，有利于[% xiaohuahexishou.protein.explain.goodEffect %][% END -%]；您肠道内参与[% xiaohuahexishou.protein.explain.bad %]的菌群指标存在异常[% IF xiaohuahexishou.protein.explain.badDisease == '-' AND xiaohuahexishou.protein.explain.badEffect == '-' -%]，不利于人体健康[% END -%][% IF xiaohuahexishou.protein.explain.badDisease != '-' -%]，可能增加[% xiaohuahexishou.protein.explain.badDisease %]的风险[% END -%][% IF xiaohuahexishou.protein.explain.badEffect != '-' -%]，不利于[% xiaohuahexishou.protein.explain.badEffect %][% END -%]，需引起注意，建议持续监测肠道健康。
[% END -%]
[% END -%]

\fontsize{9.3pt}{9.8pt}\selectfont
\bigskip
{
\lantxh
%\begin{tctabularx}{tabularx={m{3.75cm}m{4.9cm}<{\centering}m{1.22cm}<{\centering}m{1.8cm}<{\centering}m{2cm}<{\centering}}}
\begin{tctabularx}{tabularx={m{4.8cm}m{5.2cm}<{\centering}m{4.55cm}<{\centering}}}
%\cellcolor{kelly} &
%\cellcolor{kelly} &
%\cellcolor{kelly} &
%\cellcolor{kelly} &
%\cellcolor{kelly}
&&
\\[-6pt]
\cellcolor{kelly} \raisebox{2.614pt}{\color{black00}\bf 测试项目} &
\cellcolor{kelly} \raisebox{2.614pt}{\color{black00}\bf 分布} &
%\cellcolor{kelly} \raisebox{2.614pt}{\color{black00}\bf 检测值} &
%\cellcolor{kelly} \raisebox{2.614pt}{\color{black00}\bf 参考范围} &
\cellcolor{kelly} \raisebox{2.614pt}{\color{black00}\bf 检测结果}
%{\color{black70}\bf 测试项目} & {\color{black00}\bf 分布} & {\color{black00}\bf 检测值} &{\color{black00}\bf 参考范围} & {\color{black00}\bf 检测结果}
\end{tctabularx}

\vspace*{-4.25mm}
\fontsize{8.8pt}{11pt}\selectfont
%\begin{longtable}{m{3.75cm}m{5cm}<{\centering}m{0cm}@{}m{1.22cm}<{\centering}m{1.8cm}<{\centering}m{2cm}<{\centering}}
\begin{longtable}{m{4.8cm}m{5.2cm}<{\centering}m{0cm}@{}m{4.61cm}<{\centering}}
[% FOREACH item = xiaohuahexishou.protein.items.item -%]
\hline
%\parbox[c]{\hsize}{\vskip7pt [% item.name %]\\[% item.desc %] \vskip7pt} & \parbox[c]{\hsize}{\vskip7pt\centerline{\raisebox{-1.5ex}{\includegraphics[width=5cm,height=0.3cm]{[% item.pic %]}}}\vskip7pt}  &\hspace*{[% item.coordinate %]cm}\raisebox{-0.45ex}{\includegraphics{triangle.pdf}} & \begin{minipage}{4.60cm}\begin{center}{[% IF item.level == 'l1' -%]低 \\ \bahao [% item.riskdesc %][% ELSIF item.level == 'l2' -%]偏低 \\ \bahao [% item.riskdesc %][% ELSIF item.level == 'l3' -%]正常[% ELSIF item.level == 'l4' -%]偏高 \\ \bahao [% item.riskdesc %][% ELSE -%]高\\ \bahao [% item.riskdesc -%][% END -%] }\end{center} \end{minipage} \\
\parbox[c]{\hsize}{\vskip7pt [% item.name %][% IF item.desc != '-' -%]\\[% item.desc %][% END -%] \vskip7pt} & \parbox[c]{\hsize}{\vskip7pt\centerline{\raisebox{-1.5ex}{\includegraphics[width=5cm,height=0.3cm]{[% item.pic %]}}}\vskip7pt}  &\hspace*{[% item.coordinate %]cm}\raisebox{-0.45ex}{\includegraphics{triangle.pdf}} & \begin{minipage}{4.60cm}\begin{center}{[% IF item.level == 'l1' -%]低[% ELSIF item.level == 'l2' -%]偏低[% ELSIF item.level == 'l3' -%]正常[% ELSIF item.level == 'l4' -%]偏高[% ELSE -%]高[% END -%][% IF item.riskdesc != '-' -%]\\ \bahao [% item.riskdesc %][% END -%] }\end{center} \end{minipage} \\
[% END -%]
\hline
\end{longtable}

\noindent
\tikz\draw[green2,fill=green2](0,0) circle[radius=4pt]; 区域表示正常人群的一般水平 \tikz\draw[darkblue,fill=darkblue](0,0) circle[radius=4pt]; 区域表示仍在正常水平，但较一般水平偏高或偏低 %\tikz\draw[red,fill=red](0,0) circle[radius=4pt]; 而红色表示为有风险
}

\bigskip
{\centering {\includegraphics{jieshi.pdf}}}

%%% fat
\newpage
\setlength{\arrayrulewidth}{0.5pt}
\fontsize{9.3pt}{17pt}\selectfont
\color{gray2}

\vspace*{0mm}
\begin{center}
{\bf\sanhao 物质代谢~-~脂类的消化与吸收}
\end{center}

\medskip
\noindent
{\bf\xiaosihao [% name %][% IF sex == 'F' -%]女士[% ELSIF sex == 'M' -%]先生[% ELSE -%][% END -%]：}

\bigskip

脂类是人体主要储能物质，同时起到保护脏器、保持体温的作用。除此之外，脂类还参与细胞膜的构成、信号传递、形成激素等生命过程。

[% IF xiaohuahexishou.fat.explain.abnormalN == 0 -%]
您肠道内参与脂肪总量、脂肪酸代谢和甘油三酯代谢等七项功能的菌群指标均处于正常水平，请您继续保持良好的饮食及生活习惯。
[% ELSE -%]
[% IF xiaohuahexishou.fat.explain.good == '-' AND xiaohuahexishou.fat.explain.bad == '-' -%]
[% ELSIF xiaohuahexishou.fat.explain.good == '-' -%]
您肠道内参与[% xiaohuahexishou.fat.explain.bad %]的菌群指标存在异常
[% IF xiaohuahexishou.fat.explain.badDisease == '-' AND xiaohuahexishou.fat.explain.badEffect == '-' -%]，不利于人体健康[% END -%]
[% IF xiaohuahexishou.fat.explain.badDisease != '-' -%]，可能增加[% xiaohuahexishou.fat.explain.badDisease %]的风险[% END -%]
[% IF xiaohuahexishou.fat.explain.badEffect != '-' -%]，不利于[% xiaohuahexishou.fat.explain.badEffect %][% END -%]
，需引起注意，建议持续监测肠道健康。
[% ELSIF xiaohuahexishou.fat.explain.bad == '-' -%]
您肠道内参与[% xiaohuahexishou.fat.explain.good %]的菌群指标优于参考人群
[% IF xiaohuahexishou.fat.explain.goodDisease == '-' AND xiaohuahexishou.fat.explain.goodEffect == '-' -%]，有益于人体健康[% END -%]
[% IF xiaohuahexishou.fat.explain.goodDisease != '-' -%]，可能降低[% xiaohuahexishou.fat.explain.goodDisease %]的风险[% END -%]
[% IF xiaohuahexishou.fat.explain.goodEffect != '-' -%]，有利于[% xiaohuahexishou.fat.explain.goodEffect %][% END -%]
。
[% ELSE -%]
您肠道内参与[% xiaohuahexishou.fat.explain.good %]的菌群指标优于参考人群[% IF xiaohuahexishou.fat.explain.badDisease == '-' AND xiaohuahexishou.fat.explain.badEffect == '-' -%]，有益于人体健康[% END -%][% IF xiaohuahexishou.fat.explain.goodDisease != '-' -%]，可能降低[% xiaohuahexishou.fat.explain.goodDisease %]的风险[% END -%][% IF xiaohuahexishou.fat.explain.goodEffect != '-' -%]，有利于[% xiaohuahexishou.fat.explain.goodEffect %][% END -%]；您肠道内参与[% xiaohuahexishou.fat.explain.bad %]的菌群指标存在异常[% IF xiaohuahexishou.fat.explain.badDisease == '-' AND xiaohuahexishou.fat.explain.badEffect == '-' -%]，不利于人体健康[% END -%][% IF xiaohuahexishou.fat.explain.badDisease != '-' -%]，可能增加[% xiaohuahexishou.fat.explain.badDisease %]的风险[% END -%][% IF xiaohuahexishou.fat.explain.badEffect != '-' -%]，不利于[% xiaohuahexishou.fat.explain.badEffect %][% END -%]，需引起注意，建议持续监测肠道健康。
[% END -%]
[% END -%]

\fontsize{9.3pt}{9.8pt}\selectfont
\bigskip
{
\lantxh
%\begin{tctabularx}{tabularx={m{3.75cm}m{4.9cm}<{\centering}m{1.22cm}<{\centering}m{1.8cm}<{\centering}m{2cm}<{\centering}}}
\begin{tctabularx}{tabularx={m{4.8cm}m{5.2cm}<{\centering}m{4.55cm}<{\centering}}}
%\cellcolor{kelly} &
%\cellcolor{kelly} &
%\cellcolor{kelly} &
%\cellcolor{kelly} &
%\cellcolor{kelly}
&&
\\[-6pt]
\cellcolor{kelly} \raisebox{2.614pt}{\color{black00}\bf 测试项目} &
\cellcolor{kelly} \raisebox{2.614pt}{\color{black00}\bf 分布} &
%\cellcolor{kelly} \raisebox{2.614pt}{\color{black00}\bf 检测值} &
%\cellcolor{kelly} \raisebox{2.614pt}{\color{black00}\bf 参考范围} &
\cellcolor{kelly} \raisebox{2.614pt}{\color{black00}\bf 检测结果}
%{\color{black70}\bf 测试项目} & {\color{black00}\bf 分布} & {\color{black00}\bf 检测值} &{\color{black00}\bf 参考范围} & {\color{black00}\bf 检测结果}
\end{tctabularx}

\vspace*{-4.25mm}
\fontsize{8.8pt}{11pt}\selectfont
%\begin{longtable}{m{3.75cm}m{5cm}<{\centering}m{0cm}@{}m{1.22cm}<{\centering}m{1.8cm}<{\centering}m{2cm}<{\centering}}
\begin{longtable}{m{4.8cm}m{5.2cm}<{\centering}m{0cm}@{}m{4.61cm}<{\centering}}
[% FOREACH item = xiaohuahexishou.fat.items.item -%]
\hline
%\parbox[c]{\hsize}{\vskip7pt [% item.name %]\\[% item.desc %] \vskip7pt} & \parbox[c]{\hsize}{\vskip7pt\centerline{\raisebox{-1.5ex}{\includegraphics[width=5cm,height=0.3cm]{[% item.pic %]}}}\vskip7pt}  &\hspace*{[% item.coordinate %]cm}\raisebox{-0.45ex}{\includegraphics{triangle.pdf}} & \begin{minipage}{4.60cm}\begin{center}{[% IF item.level == 'l1' -%]低 \\ \bahao [% item.riskdesc %][% ELSIF item.level == 'l2' -%]偏低 \\ \bahao [% item.riskdesc %][% ELSIF item.level == 'l3' -%]正常[% ELSIF item.level == 'l4' -%]偏高 \\ \bahao [% item.riskdesc %][% ELSE -%]高\\ \bahao [% item.riskdesc -%][% END -%] }\end{center} \end{minipage} \\
\parbox[c]{\hsize}{\vskip7pt [% item.name %][% IF item.desc != '-' -%]\\[% item.desc %][% END -%] \vskip7pt} & \parbox[c]{\hsize}{\vskip7pt\centerline{\raisebox{-1.5ex}{\includegraphics[width=5cm,height=0.3cm]{[% item.pic %]}}}\vskip7pt}  &\hspace*{[% item.coordinate %]cm}\raisebox{-0.45ex}{\includegraphics{triangle.pdf}} & \begin{minipage}{4.60cm}\begin{center}{[% IF item.level == 'l1' -%]低[% ELSIF item.level == 'l2' -%]偏低[% ELSIF item.level == 'l3' -%]正常[% ELSIF item.level == 'l4' -%]偏高[% ELSE -%]高[% END -%][% IF item.riskdesc != '-' -%]\\ \bahao [% item.riskdesc %][% END -%] }\end{center} \end{minipage} \\
[% END -%]
\hline
\end{longtable}

\noindent
\tikz\draw[green2,fill=green2](0,0) circle[radius=4pt]; 区域表示正常人群的一般水平 \tikz\draw[darkblue,fill=darkblue](0,0) circle[radius=4pt]; 区域表示仍在正常水平，但较一般水平偏高或偏低 %\tikz\draw[red,fill=red](0,0) circle[radius=4pt]; 而红色表示为有风险
}

\bigskip
{\centering {\includegraphics{jieshi.pdf}}}

%%% carbon
\newpage

\setlength{\arrayrulewidth}{0.5pt}
\fontsize{9.3pt}{17pt}\selectfont
\color{gray2}

\vspace*{0mm}
\begin{center}
{\bf\sanhao 物质代谢~-~碳水化合物的消化与吸收}
\end{center}

\medskip
\noindent
{\bf\xiaosihao [% name %][% IF sex == 'F' -%]女士[% ELSIF sex == 'M' -%]先生[% ELSE -%][% END -%]：}

\bigskip

碳水化合物是人体直接供能物质，维持机体的正常活动。除此之外，碳水化合物还参与维持大脑功能、调节脂肪代谢等重要生命过程。

[% IF xiaohuahexishou.carbon.explain.abnormalN == 0 -%]
您肠道内参与碳水化合物总量、半乳糖代谢、果糖和甘露糖代谢等五项功能的菌群指标均处于正常水平，请您继续保持良好的饮食及生活习惯。
[% ELSE -%]
[% IF xiaohuahexishou.carbon.explain.good == '-' AND xiaohuahexishou.carbon.explain.bad == '-' -%]
[% ELSIF xiaohuahexishou.carbon.explain.good == '-' -%]
您肠道内参与[% xiaohuahexishou.carbon.explain.bad %]的菌群指标存在异常
[% IF xiaohuahexishou.carbon.explain.badDisease == '-' AND xiaohuahexishou.carbon.explain.badEffect == '-' -%]，不利于人体健康[% END -%]
[% IF xiaohuahexishou.carbon.explain.badDisease != '-' -%]，可能增加[% xiaohuahexishou.carbon.explain.badDisease %]的风险[% END -%]
[% IF xiaohuahexishou.carbon.explain.badEffect != '-' -%]，不利于[% xiaohuahexishou.carbon.explain.badEffect %][% END -%]
，需引起注意，建议持续监测肠道健康。
[% ELSIF xiaohuahexishou.carbon.explain.bad == '-' -%]
您肠道内参与[% xiaohuahexishou.carbon.explain.good %]的菌群指标优于参考人群
[% IF xiaohuahexishou.carbon.explain.goodDisease == '-' AND xiaohuahexishou.carbon.explain.goodEffect == '-' -%]，有益于人体健康[% END -%]
[% IF xiaohuahexishou.carbon.explain.goodDisease != '-' -%]，可能降低[% xiaohuahexishou.carbon.explain.goodDisease %]的风险[% END -%]
[% IF xiaohuahexishou.carbon.explain.goodEffect != '-' -%]，有利于[% xiaohuahexishou.carbon.explain.goodEffect %][% END -%]
。
[% ELSE -%]
您肠道内参与[% xiaohuahexishou.carbon.explain.good %]的菌群指标优于参考人群[% IF xiaohuahexishou.carbon.explain.badDisease == '-' AND xiaohuahexishou.carbon.explain.badEffect == '-' -%]，有益于人体健康[% END -%][% IF xiaohuahexishou.carbon.explain.goodDisease != '-' -%]，可能降低[% xiaohuahexishou.carbon.explain.goodDisease %]的风险[% END -%][% IF xiaohuahexishou.carbon.explain.goodEffect != '-' -%]，有利于[% xiaohuahexishou.carbon.explain.goodEffect %][% END -%]；您肠道内参与[% xiaohuahexishou.carbon.explain.bad %]的菌群指标存在异常[% IF xiaohuahexishou.carbon.explain.badDisease == '-' AND xiaohuahexishou.carbon.explain.badEffect == '-' -%]，不利于人体健康[% END -%][% IF xiaohuahexishou.carbon.explain.badDisease != '-' -%]，可能增加[% xiaohuahexishou.carbon.explain.badDisease %]的风险[% END -%][% IF xiaohuahexishou.carbon.explain.badEffect != '-' -%]，不利于[% xiaohuahexishou.carbon.explain.badEffect %][% END -%]，需引起注意，建议持续监测肠道健康。
[% END -%]
[% END -%]

\fontsize{9.3pt}{9.8pt}\selectfont
\bigskip
{
\lantxh
%\begin{tctabularx}{tabularx={m{3.75cm}m{4.9cm}<{\centering}m{1.22cm}<{\centering}m{1.8cm}<{\centering}m{2cm}<{\centering}}}
\begin{tctabularx}{tabularx={m{4.8cm}m{5.2cm}<{\centering}m{4.55cm}<{\centering}}}
%\cellcolor{kelly} &
%\cellcolor{kelly} &
%\cellcolor{kelly} &
%\cellcolor{kelly} &
%\cellcolor{kelly}
&&
\\[-6pt]
\cellcolor{kelly} \raisebox{2.614pt}{\color{black00}\bf 测试项目} &
\cellcolor{kelly} \raisebox{2.614pt}{\color{black00}\bf 分布} &
%\cellcolor{kelly} \raisebox{2.614pt}{\color{black00}\bf 检测值} &
%\cellcolor{kelly} \raisebox{2.614pt}{\color{black00}\bf 参考范围} &
\cellcolor{kelly} \raisebox{2.614pt}{\color{black00}\bf 检测结果}
%{\color{black70}\bf 测试项目} & {\color{black00}\bf 分布} & {\color{black00}\bf 检测值} &{\color{black00}\bf 参考范围} & {\color{black00}\bf 检测结果}
\end{tctabularx}

\vspace*{-4.25mm}
\fontsize{8.8pt}{11pt}\selectfont
%\begin{longtable}{m{3.75cm}m{5cm}<{\centering}m{0cm}@{}m{1.22cm}<{\centering}m{1.8cm}<{\centering}m{2cm}<{\centering}}
\begin{longtable}{m{4.8cm}m{5.2cm}<{\centering}m{0cm}@{}m{4.61cm}<{\centering}}
[% FOREACH item = xiaohuahexishou.carbon.items.item -%]
\hline
%\parbox[c]{\hsize}{\vskip7pt [% item.name %]\\[% item.desc %] \vskip7pt} & \parbox[c]{\hsize}{\vskip7pt\centerline{\raisebox{-1.5ex}{\includegraphics[width=5cm,height=0.3cm]{[% item.pic %]}}}\vskip7pt}  &\hspace*{[% item.coordinate %]cm}\raisebox{-0.45ex}{\includegraphics{triangle.pdf}} & \begin{minipage}{4.60cm}\begin{center}{[% IF item.level == 'l1' -%]低 \\ \bahao [% item.riskdesc %][% ELSIF item.level == 'l2' -%]偏低 \\ \bahao [% item.riskdesc %][% ELSIF item.level == 'l3' -%]正常[% ELSIF item.level == 'l4' -%]偏高 \\ \bahao [% item.riskdesc %][% ELSE -%]高\\ \bahao [% item.riskdesc -%][% END -%] }\end{center} \end{minipage} \\
\parbox[c]{\hsize}{\vskip7pt [% item.name %][% IF item.desc != '-' -%]\\[% item.desc %][% END -%] \vskip7pt} & \parbox[c]{\hsize}{\vskip7pt\centerline{\raisebox{-1.5ex}{\includegraphics[width=5cm,height=0.3cm]{[% item.pic %]}}}\vskip7pt}  &\hspace*{[% item.coordinate %]cm}\raisebox{-0.45ex}{\includegraphics{triangle.pdf}} & \begin{minipage}{4.60cm}\begin{center}{[% IF item.level == 'l1' -%]低[% ELSIF item.level == 'l2' -%]偏低[% ELSIF item.level == 'l3' -%]正常[% ELSIF item.level == 'l4' -%]偏高[% ELSE -%]高[% END -%][% IF item.riskdesc != '-' -%]\\ \bahao [% item.riskdesc %][% END -%] }\end{center} \end{minipage} \\
[% END -%]
\hline
\end{longtable}

\noindent
\tikz\draw[green2,fill=green2](0,0) circle[radius=4pt]; 区域表示正常人群的一般水平 \tikz\draw[darkblue,fill=darkblue](0,0) circle[radius=4pt]; 区域表示仍在正常水平，但较一般水平偏高或偏低 %\tikz\draw[red,fill=red](0,0) circle[radius=4pt]; 而红色表示为有风险
}

\bigskip
{\centering {\includegraphics{jieshi.pdf}}}

\end{document}
